// --------------- //
/* Base Stylesheet */
// --------------- //
//
// Fonts
// Colors
// Common elements
// Mixins
// Preset classes

@import reset


// Fonts -------------------------------------------------------------------//

// Light
@font-face
    font-family: "Nunito"
    font-style: normal
    font-weight: 300
    src: local("Nunito Light"), local("Nunito-Light"), url("../fonts/nunito/Nunito-Light.woff2") format("woff2"), url("../fonts/nunito/Nunito-Light.ttf") format("truetype")

// Light italic
@font-face
    font-family: "Nunito"
    font-style: italic
    font-weight: 300
    src: local("Nunito Light Italic"), local("Nunito-LightItalic"), url("../fonts/nunito/Nunito-LightItalic.woff2") format("woff2"), url("../fonts/nunito/Nunito-LightItalic.ttf") format("truetype")

// Regular
@font-face
    font-family: "Nunito"
    font-style: normal
    font-weight: 400
    src: local("Nunito Regular"), local("Nunito-Regular"), url("../fonts/nunito/Nunito-Regular.woff2") format("woff2"), url("../fonts/nunito/Nunito-Regular.ttf") format("truetype")

// Regular italic
@font-face
    font-family: "Nunito"
    font-style: italic
    font-weight: 400
    src: local("Nunito Italic"), local("Nunito-Italic"), url("../fonts/nunito/Nunito-Italic.woff2") format("woff2"), url("../fonts/nunito/Nunito-Italic.ttf") format("truetype")

// Semi bold
@font-face
    font-family: "Nunito"
    font-style: normal
    font-weight: 600
    src: local("Nunito SemiBold"), local("Nunito-SemiBold"), url("../fonts/nunito/Nunito-SemiBold.woff2") format("woff2"), url("../fonts/nunito/Nunito-SemiBold.ttf") format("truetype")

// Semi bold italic
@font-face
    font-family: "Nunito"
    font-style: italic
    font-weight: 600
    src: local("Nunito SemiBold Italic"), local("Nunito-SemiBoldItalic"), url("../fonts/nunito/Nunito-SemiBoldItalic.woff2") format("woff2"), url("../fonts/nunito/Nunito-SemiBoldItalic.ttf") format("truetype")

// Extra bold
@font-face
    font-family: "Nunito"
    font-style: normal
    font-weight: 800
    src: local("Nunito Extra Bold"), local("Nunito-ExtraBold"), url("../fonts/nunito/Nunito-ExtraBold.woff2") format("woff2"), url("../fonts/nunito/Nunito-ExtraBold.ttf") format("truetype")

// Extra bold italic
@font-face
    font-family: "Nunito"
    font-style: italic
    font-weight: 800
    src: local("Nunito Extra Bold Italic"), local("Nunito-ExtraBoldItalic"), url("../fonts/nunito/Nunito-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/nunito/Nunito-ExtraBoldItalic.ttf") format("truetype")


// Colors -----------------------------------------------------------------//

// Palette
$dark-blue: #13628e
$bright-blue: #c5f1fd
$bright-blue-text: #47cfec
$gold: #f9ff68
$white: #ffffff
$green: #4ebf7a
$green-shade: #44a76b
$red: #d66a6a

// Notification colors
$note-success-color: darken($green, 10%)
$note-success-bg: lighten($green, 35%)
$note-info-color: darken($bright-blue-text, 15%)
$note-info-bg: lighten($bright-blue, 5%)
$note-warning-color: darken($gold, 35%)
$note-warning-bg: lighten($gold, 15%)
$note-danger-color: darken($red, 15%)
$note-danger-bg: lighten($red, 20%)

// Additional colors
$gray-table-row: #f3f9fd                        // table row
$blue-text-shadow: rgba(19,98,142,0.4)          // button text shadow
$white-text-shadow: rgba(255,255,255,0.5)       // button text shadow
$green-border: rgba(78,191,122,0.3)             // navbar item border
$yellow-highlight: #ffffcd                      // tos section highlight
$blue-header: #c5f1fd                           // header gradient
$blue-header-light: #f0fbfe                     // header gradient
$blue-header2: #e2f8fe                          // blog header


// Common elements ---------------------------------------------------------//

*, *:before, *:after
    box-sizing: inherit

*::selection
    color: $white
    background: $dark-blue
    text-shadow: none

html
    font-size: 62.5%
    box-sizing: border-box
    overflow-x: hidden
    overflow-y: scroll

body
    font: 300 2.1rem/1.5 Nunito, sans-serif
    color: $dark-blue
    background: $white

a
    font-weight: 400
    color: $green-shade
    text-decoration: none
    transition: all 0.12s ease-out 0s
    &:visited
        color: $green-shade
    &:hover, &:active, &:focus
        color: $dark-blue

abbr, acronym
    cursor: help

blockquote
    margin: 3rem 0
    padding: 1.5rem 3rem 0.01rem
    background: $blue-header2
    border-left: $bright-blue-text 0.6rem solid
    border-radius: 0.3rem
    font-style: italic

caption
    margin: 0 0 1.5rem 0
    text-align: center

code
    padding: 0.1rem 0.3rem
    background: $blue-header2
    border-radius: 0.3rem
    overflow: auto
    font-size: 1.5rem

dl
    margin: 4.5rem 0
dt
    font-weight: bold
    margin: 0 0 1.5rem 0
dd
    margin: 0 0 4.5rem 3rem
dd + dd
    margin: -1.5rem 0 4.5rem 3rem

del
    text-decoration: line-through

em, i
    font-style: italic

h1, h2, h3
    font-weight: 400
    line-height: 1
h4, h5, h6
    font-weight: 600
h1
    font-size: 3.8rem
    margin: 4.5rem 0 1.5rem
h2
    font-size: 3.3rem
    margin: 4.5rem 0 1.5rem
h3
    font-size: 3.0rem
    margin: 3rem 0 1.5rem
h4
    font-size: 3.0rem
    margin: 2.1rem 0 1.5rem
h5
    font-size: 2.7rem
    margin: 1.5rem 0
h6
    font-size: 2.4rem
    margin: 1.5rem 0

hr
    height: 0.2rem
    margin: 4.5rem 0
    border: 0
    border-radius: 0.3rem
    background: $bright-blue

button, input[type='submit'],
input[type='button'], input[type='reset']
    cursor: pointer

input[type="text"], input[type="email"],
input[type="password"], input[type="url"]
    margin: 0 0 1.5rem 0
    padding: 0.5rem
    border: $dark-blue 0.1rem solid
    border-radius: 0.3rem
    background: $white
    color: $dark-blue
    cursor: text

input[type='checkbox'], input[type='radio']
    border: 0.1rem solid $dark-blue
    cursor: pointer
input[type='checkbox']
    border-radius: 0.3rem

label
    color: $bright-blue-text
    display: block

ol, ul
    margin: 1.5rem 3rem 4.5rem
    li, li p
        margin: 1rem 0
    li ul
        margin: 0 0 0 3rem
ol
    list-style: decimal
ul
    list-style: disc

p
    margin: 1.5rem 0 3rem

q
    quotes: "“" "”" "‘" "’"

pre
    padding: 1.5rem
    white-space: pre-wrap
    word-wrap: break-word
    overflow: auto
    border-radius: 0.3rem
    background: $blue-header2
    font-size: 1.5rem

strong, b, strong a, b a
    font-weight: 600

sub
    vertical-align: sub

sup
    font-size: 1.25rem
    font-weight: 400
    vertical-align: super
// Multiple footnotes
sup + sup
    margin-left: 0.3rem

table
    margin: 3rem 0
    tr:nth-child(2n)
        background: $gray-table-row
    th
        border-bottom: 0.1rem solid $dark-blue
        padding: 1rem 2rem
        font-weight: 600
    td
        padding: 1rem 2rem

textarea
    border: $dark-blue 0.1rem solid


// Mixins ------------------------------------------------------------------//

// Set tilt style
// Parameters: element width (vw), element height (rem),
// bottom margin (rem), vertical shift (rem), skew amount (deg)
=header-tilt($w, $h, $bmargin, $vshift, $skew)
    position: relative
    clear: both
    margin: 0 0 $bmargin
    &:after
        content: ' '
        position: absolute
        width: $w
        height: $h
        bottom: $vshift
        transform: skewY($skew)
        z-index: -1

// Set button style
// Parameters: text color, bg gradient color 1, bg gradient color 2
=big-button($tc, $bc1, $bc2)
    font: 800 3rem Nunito, sans-serif
    text-shadow: 0.2rem 0.2rem 0 darken($bc2, 5%)
    background-color: $bc2
    background-image: linear-gradient($bc1, $bc2)
    cursor: pointer
    display: table
    position: relative
    width: auto
    margin: 0rem auto 3rem
    padding: 1.1rem 4.5rem 1.4rem
    border: 0
    border-radius: 2.7rem/4.7rem
    transition: all 0.12s ease-out
    &:hover
        color: $tc
        padding: 1.1rem 3.5rem 1.4rem
        text-shadow: 0.1rem 0.1rem 0 $blue-text-shadow, 0rem 0rem 1rem $white-text-shadow

=med-button($tc, $bc1, $bc2)
    +big-button($tc, $bc1, $bc2)
    font: 800 2.4rem Nunito, sans-serif
    padding: 1rem 2rem
    &:hover
        padding: 1rem 1.5rem

=sml-button($tc, $bc1, $bc2)
    +big-button($tc, $bc1, $bc2)
    font: 800 2rem Nunito, sans-serif
    border-radius: 1.7rem/4.7rem
    padding: 1rem 2rem
    &:hover
        padding: 1rem 2rem


// Preset classes ----------------------------------------------------------//

.hidden
    visibility: hidden
    display: none

.clearfix:after
    clear: both

// Tilt
hr.tilt
    transform: skewY(-3deg)
    height: 0.15rem
    margin: 3rem 0

// Buttons
.bigbutton
    +big-button($white, $green, $green-shade)
.medbutton
    +med-button($white, $green, $green-shade)
.smlbutton
    +sml-button($white, $green, $green-shade)

// Footer logo used across subsites
footer .logo
    width: 18rem
    margin: 3rem auto
