:root {
    /* Colours */
    --dark-blue: #13628e;
    --dark-blue-rgb: 19, 98, 142;
    --light-blue-grad: #dbf6fe, #eefbfe;
    --green: #4ebf7a;
    --green-shade: #44a76b;
    --green-text-hover: #378756;
    --green-text-shadow: #3d955f;

    /* Font presets */
    --font-family: Nunito, sans-serif;
    --text-title: 700 3.7rem/1 var(--font-family);
    --text-body: 300 2.1rem/3rem var(--font-family);
    --text-small: 400 1.7rem var(--font-family);
    --text-smallest: 400 1.3rem var(--font-family);
    --text-account-menu: 700 2.1rem var(--font-family);
}


/* ----- Page layout ----- */

/* Hide header site title, tabbed menu, breadcrumb menu, search form,
 * sidebar and page footer */
.site-branding__text,
.region-primary-menu .menu,
.breadcrumb,
.search-block-form,
.sidebar .section,
.site-footer {
    display: none;
}

/* Max out wrapper width inside the header
 * to allow a full-width user account menu */
.layout-container {
    max-width: 100%;
}

/* Reset margins between user account menu and main content */
.layout-main {
    margin: 0;
}

/* Reset padding in site branding parent */
.region-header {
    padding: 0;
}

/* Center content column */
.layout-sidebar-first .main-content {
    margin: 0 auto 6rem;
}
.main-content {
    float: unset;
    max-width: 75rem;
}

.main-content .section {
    padding: 0 !important;
}


@media (max-width: 749px) {

    html {
        font-size: 50%;
    }

    .menu-toggle {
        display: none !important;
    }
}


@media (min-width: 851px) {

    /* Align main content to nav tab (see login page) */
    .layout-sidebar-first .main-content {
        width: 100% !important;
    }

}


/* ----- Page appearance defaults ----- */

body {
    background: white !important;
    color: var(--dark-blue) !important;
    font-family: var(--font-family) !important;
}

label {
    color: var(--dark-blue);
    display: block;
}

/* Skip base-sass alternating background for table rows */
table tr:nth-child(2n) {
    background: var(--white);
}

/* Reset the parent theme header */
.header {
    background: unset !important;
    /* Hide the left/right ends from the logo wrapper tilt */
    overflow: hidden;
}

/* User account menu with log in link */
.menu--account {
    background: white;
    height: 6rem;
    margin: 0;
    padding: 0;
    /* Position menu on top of the site branding */
    position: relative;
    z-index: 5;
}
.menu--account a {
    color: var(--green-shade) !important;
    font: var(--text-account-menu);
}
.menu--account a:hover {
    color: var(--dark-blue) !important;
    text-decoration: none !important;
}

/* Header logo/site title wrapper */
.site-branding {
    float: unset !important;
    margin: 0 auto !important;
    text-align: center;
    /* Apply tilt effect */
    background-image: linear-gradient(var(--light-blue-grad)) !important;
    left: -1rem;
    position: relative;
    top: -6rem;
    transform: rotate(-3deg);
    width: calc(100% + 2rem);
}

.site-branding__logo {
    /* Add enough space for image to be visible below the menu
     * and reverse the tilt effect */
    margin: 9rem auto 3rem;
    transform: rotate(3deg);
}
.site-branding__logo img {
    max-width: 54rem;
}

/* Content column */
.main-content {
    color: var(--dark-blue);
    font: var(--text-body);
}

.page-title {
    color: var(--dark-blue);
    font: var(--text-title);
    margin: 0;
}


@media (max-width: 749px) {

    .site-branding__logo img {
        max-width: 90vw;
    }

}


/* ----- CiviCRM overrides ----- */

/* Introductory text */
#crm-container .help {
    background: white;
    border: 0;
    color: var(--dark-blue);
    font: var(--text-body);
    margin: 3rem 0 6rem;
    padding: 0;
}

/* Reset the line height on whitespace divs between fields */
#crm-container .clear {
    line-height: 0;
}

/* Form field groups */
#crm-container [class*="editrow"] {
    margin: 1rem 0 !important;
    padding: 0;
}
#crm-container [class*="editrow"] tr {
    border: 0;
}
#crm-container [class*="editrow"] td {
    padding: 0.2rem 6rem 0.2rem 0;
}
#crm-container .label {
    font: var(--text-body) !important;
    text-align: left;
    padding: 0 !important;
    width: 24rem;
}
#crm-container .content {
    font: var(--text-body) !important;
    margin: auto 0;
    padding: 0 !important;
}

/* Custom field groups */
#crm-container [class*=editrow_custom] {
    margin: 3rem 0 1rem !important;
    padding: 0;
}
#crm-container [class*=editrow_custom] .label {
    width: 100%;
    margin: 0 0 1.5rem;
}
#crm-container [class*=editrow_custom] table {
    font: var(--text-body);
}

/* Custom field help descriptions */
#crm-container [class*=helprow-custom] {
    margin: 0 0 3rem;
}

/* Custom field group radio button labels */
#crm-container input.crm-form-radio + label {
    margin: 0 3rem 0 1rem !important;
}

/* Input fields */
#crm-container input[type="text"],
#crm-container input[type="password"],
#crm-container input[type="email"] {
    border: 0.1rem solid var(--dark-blue);
    border-radius: 0.3rem;
    color: var(--dark-blue);
    font: var(--text-small);
    height: auto;
    padding: 0.5rem 1rem;
    width: 30rem;
}

/* Dropdown menus */
#crm-container .select2-container .select2-choice {
    border: 0.1rem solid var(--dark-blue);
    width: 29.7rem !important;
}
.select2-container .select2-choice a,
.select2-container .select2-choice a:hover {
    color: var(--dark-blue) !important;
}
.select2-drop-active {
    border: 0.1rem solid var(--dark-blue) !important;
    width: 31.2rem !important;
}

/* Textarea help descriptions */
#crm-container .description {
    color: var(--dark-blue);
    font: var(--text-small) !important;
    margin: 0 0 3rem;
}

/* Button group */
#crm-container .crm-submit-buttons {
    margin: 6rem 0 !important;
}

/* Buttons */
/* (#edit-submit is used in the login page) */
#edit-submit,
#crm-container .crm-button,
#crm-container a.button {
    display: table;
    background-color: var(--green-shade);
    background-image: linear-gradient(var(--green), var(--green-shade));
    border: 0;
    border-radius: 0.375rem/1.875rem;
    box-shadow: 0.3rem 0.3rem 0.3rem 0.3rem rgba(var(--dark-blue-rgb), 0.1);
    color: white !important;
    font: var(--text-small);
    margin: 0 3rem 0 0;
    position: relative;
    padding: 0.5625rem 3.75rem 0.75rem;
    text-align: center;
    text-decoration: none;
    text-shadow: 0.1rem 0.1rem 0 var(--green-text-shadow);
    transition: all 0.12s ease-out;
    width: auto;
}
#edit-submit,
#crm-container .crm-button:hover,
#crm-container a.button:hover {
    text-shadow: 0.06rem 0.06rem 0 rgba(var(--dark-blue-rgb), 0.4),
        0rem 0rem 0.6rem rgba(255, 255, 255, 0.5);
}
/* Button label icons */
#crm-container i.crm-i {
    margin: 0 0.5rem 0 0;
}

/* Navigation tabs, e.g. on login page */
.tabs ul.primary {
    background: none !important;
    border: 0 !important;
    margin: 0 auto;
    max-width: 75rem;
    padding: 0 !important;
}
.tabs ul.primary li a,
.tabs ul.primary li.is-active a {
    background-color: var(--white) !important;
    margin: 0 3rem 0 0 !important;
    padding: 0.3rem 0 !important;
}
.tabs ul.primary li a {
    border: 0 !important;
    color: var(--green) !important;
}
.tabs ul.primary li.is-active a {
    color: var(--dark-blue) !important;
}
.tabs ul.primary li a:hover  {
    color: var(--green-shade) !important;
}

@media (max-width: 749px) {

    /* Stack table columns in field groups */
    #crm-container [class*="editrow"] td {
        display: block;
    }

}
